body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2 {
    margin-top: 0;
    font-size: x-large;
}

h3 {
    margin-bottom: 5px;
    font-size: large;
}

#container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#heroes {
    display: flex;
    justify-content: center;
}

#heroes div.card {
    flex: 1;
    padding: 10px;
    font-size: x-large;
}

#heroes div.card div {
    padding: 5px;
    margin: 0 auto;
}

#heroes div.card div.ava img {
    height: 100px;
    width: auto;
}

#heroes div.card img {
    margin: 0px 5px;
    height: 70px;
    width: auto;
    border: 1px #000 solid;
}

#footer {
    display: flex;
    justify-content: center;
}

